
extends layout

block content
	#logo
		img
	h1= title
	#status
	#chat
		#frequencies
		fieldset.links
			legend|Links
			div#linklist
		fieldset
			legend|Chat
			#chatout.termout
			input#chatin.termin(type="text")
		fieldset
			legend|Frequency Selector
			| Your Frequency
			input#freq(type="text")
			button#freqset(type="button")|Update
			button#freqclear(type="button")|Clear
			#pretitle Presets
			#freqselect 
		#userlookup
		fieldset
			legend|Users Logged In
			#users
	#login
		| Callsign 
		input#call(type="text")
		button#callenter(type="button")|Login
	p Callsign data courtesy of 
		a(href='http://hamqth.com' target='hamqth') HamQTH
