module.exports.hostname = ''; // change to the hostname or IP of your host
module.exports.port = 80;
module.exports.hamqthcall = 'your ham qth callsign';
module.exports.hamqthapipw = 'your ham qth password';
module.exports.hamqthprog = 'your program name';
module.exports.title = 'D-STAR HF QSO Finder'; //change to your title for page
module.exports.logo = '/images/d-star-logo.png'; //change to your logo in images directory
module.exports.links = [
        {href:'http://www.youtube.com/watch?v=oGF-qkdoid4',description:'HF D-STAR Video'},
        {href:'https://github.com/g4klx',description:'G4KLX Software'},
        {href:'https://github.com/johnhays/QSOChat',description:'QSOChat Source'},
        {href:'http://www.dstarinfo.com/DSTARHFNet.aspx',description:'HF Net Schedule'},
        {href:'https://nwdigitalradio.com/',description:'NW Digital Radio'}
]; //a JSON encoded list of links
module.exports.standardfreqs = [ "50.2100", "28.5700", "24.9380", "21.3800", "18.1480", "14.3350", "7.2850", "3.8800" ]; //an array of frequencies to use for preselect buttons;

